body {
    color: #444;
    font: 14px/20px Arial,Helvetica,sans-serif;
	background-image:url("../img/noise.png");
}

.title_error {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9), 0 1px 0 rgba(255, 255, 255, 0.7);
}

.title_error {
    font-size: 60px;
    font-weight: bold;
    color: #333333 !important;
	font-family:Arial,Helvetica,sans-serif;
    text-align: center;	
}

h2{
	text-align:center !important;
	}

.error
{
	text-align:center;
}


.title_error > span:before {
    background: url("../img/error.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    content: "";
    height: 80px;
    left: -30px;
    position: absolute;
    right: -30px;
    top: 70%;
}

.title_error > span {
    display: inline-block;
    position: relative;
}